.about-us-container {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .about-us-image-container,
  .about-us-blurb {
    height: 100%;
    width: 50%;
    min-width: 330px;
    flex-grow: 1;
    padding: 10px;
  }

  .about-us-blurb {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    > * {
      margin: 10px;
    }

    h3 {
      .about {
        font-size: 2.5rem;
      }

      .us {
        font-size: 4rem;
        color: $pink-color;
      }
    }

    .lorem {
      color: #6c757d;
    }

    button {
      padding: 10px;
      border: solid 1px black;
      border-radius: 10px;
      background: none;
      transition-duration: 300ms;

      &:hover {
        background: black;
        color: $pink-color;
        cursor: pointer;
      }
    }
  }

  .about-us-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;

    @include mq(768px) {
      display: none;
    }
    .image-border {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: -1rem;
        width: 80%;
        height: 97.5%;
        outline: 0.5rem solid #f9e494;
        z-index: -1;
        transition: all 1s ease-in-out;
      }

      &:hover:before {
        top: 0;
        left: 0;
      }

      img {
        width: 80%;
        height: 80%;
      }
    }
  }
}
