@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
}

nav ul li a {
  color: var(--mainPink);
  font-size: 1.5em;
}

.nav-cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}
