* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.all {
  height: 100%;
  width: 100%;
  z-index: -1;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background: url(../img/contBcg-0.jpeg) center/cover; */
}

.fas {
  font-size: 4em;
  position: absolute;
  top: 45%;
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.575);
  padding: 10px;
  border-radius: 30px;
  transition-duration: 500ms;
}

/* Left Arrow */

.left-hover-area {
  position: absolute;
  width: 5em;
  height: 30vh;
  top: 38%;
  left: 0px;
  z-index: 1;
  cursor: pointer;
}

.fa-angle-left {
  left: 2vw;
  transform: translateX(-3em);
  animation-duration: 2000ms;
  animation-name: left-intro;
}

@keyframes left-intro {
  50% {
    left: 320px;
  }
}

/* Right Arrow */
.right-hover-area {
  position: absolute;
  width: 5em;
  height: 30vh;
  top: 38%;
  right: 0px;
  z-index: 1;
  cursor: pointer;
}

.fa-angle-right {
  right: 2vw;
  transform: translateX(3em);
  animation-duration: 2000ms;
  animation-name: right-intro;
}

@keyframes right-intro {
  50% {
    right: 320px;
  }
}

/* Transform class for both arrows */

.transform {
  transform: translateX(0);
}
