* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  //display: flex;
  //justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  align-items: center;
  background-color: rgba(54, 201, 238, 0.671);
}

.button {
  --button-width: 50px;
  display: flex;
  border: black solid 1px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--button-width);
  //transform: translateX(var(--button-width));

  background-color: rgba(255, 255, 255, 0.541);
  transition: 1000ms;
  &:hover {
    cursor: pointer;
    background-color: rgba(202, 202, 202, 0.952);
    transition: 500ms;
  }
  .arrow {
    font-size: 3em;
  }
}

#right-button {
  position: fixed;
  right: 0;
  transform: translateX(1.2em);
}

#left-button {
  position: fixed;
  left: 0;
}

.transform-right {
  transform: translateX(3.2em);
}
