* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --dark-orange: #f15025;
}

body {
  background: url(../img/questionBcg.jpeg) center/cover fixed;
  height: 100vh;
}

.background-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.white {
  color: white;
}

h3 {
  color: var(--dark-orange);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Start quote box with arrows */
.quote-slider {
  display: flex;
  align-items: center;
}

.fas {
  color: var(--dark-orange);
  margin: 10px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 3em;
  cursor: pointer;
}

.quote-box {
  border: white 2px solid;
  border-radius: 10px;

  margin-top: 30px;
  height: 65vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
}

/* Inside the box */
.client-image {
  height: 110px;
  width: 18vw;
  border-radius: 50%;
  margin-top: -70px;
}

.client-name {
  font-size: 2em;
}

.stars-container {
  color: var(--dark-orange);
  font-size: 1.3em;
}

.client-review {
  font-size: 1.1em;
}

.fa-quote-left {
  font-size: 2em;
}
