* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* :root {
  
} */

body {
  background: url(../img/questionBcg.jpeg) center/cover fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.dark-orange {
  color: #f15025;
}

.white {
  color: white;
}
